<%= form_with(model: list) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <%= form.submit nil, class: 'btn btn-primary' %>
  <% if list.persisted? %>
    <%= link_to 'Cancel', list_items_path(list), class: 'btn btn-secondary' %>
  <% end %>
 <% end %>
