<%= form_with(model: [@list, item]) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :url, class: 'form-label' %>
    <%= form.text_field :url, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.check_box :purchased, class: 'form-check-input' %>
    <%= form.label :purchased, class: 'form-label' %>
  </div>

  <%= form.submit nil, class: 'btn btn-primary' %>
  <%= link_to 'Cancel', list_items_path(item.list_id), class: 'btn btn-secondary' %>
<% end %>
