<h1><%= @list.title %>
  <%= link_to edit_list_path(@list), class: 'btn btn-outline-primary', title: 'Edit List' do %>
    <i class="bi bi-pencil"></i>
  <% end %>
  <%= link_to(@list, method: :delete, data: { confirm: 'Are you sure you want to delete this list?' }, class: 'btn btn-outline-danger', title: 'Delete List') do %>
    <i class="bi bi-trash"></i>
  <% end %>
  <%= link_to new_list_path, class: 'btn btn-outline-primary', title: 'New List' do %>
    <i class="bi bi-plus-square"></i>
  <% end %>
</h1>

<p>Bookmark this page so you can come back and make changes. Anyone you share this page with can make changes too.</p>

<p>To let others mark items purchased, share this link with them <%= link_to shared_items_url(@list.shared_id), shared_items_url(@list.shared_id) %>.</p>

<h2>Items 
  <%= link_to new_list_item_path(@list), class: 'btn btn-outline-primary', title: 'New Item' do %>
    <i class="bi bi-plus-square"></i>
  <% end %>
</h2>

<ol class="list-group list-group-numbered">
<% @items.each do |item| %>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">
        <% if item.purchased %><del><% end %>
        <%= item.title %>
        <% if item.purchased %></del><% end %>
      </div>
      <%= link_to edit_list_item_path(@list, item), class: 'btn btn-outline-primary', title: 'Edit Item' do %>
        <i class="bi bi-pencil"></i>
      <% end %>
      <%= link_to([@list, item], method: :delete, data: { confirm: 'Are you sure you want to delete this item?' }, class: 'btn btn-outline-danger', title: 'Delete Item') do %>
        <i class="bi bi-trash"></i>
      <% end %>
      <% if !item.url.blank? %>
        <a href="<%= item.url %>" class="btn btn-outline-secondary" title="View Item"><i class="bi bi-box-arrow-up-right"></i></a>
      <% end %>
    </div>    
  </li>
<% end %>
</ol>