<p id="notice"><%= notice %></p>

<h1><%= @list.title %></h1>
<p>Bookmark this page so you can come back and make changes. Anyone you share this page with can make changes too.</p>
<p>To let others mark items purchased, share this link with them <%= link_to shared_items_url(@list.shared_id), shared_items_url(@list.shared_id) %>.</p>
<%= link_to 'Edit List', edit_list_path(@list) %>
<%= link_to 'Destroy List', @list, method: :delete, data: { confirm: 'Are you sure?' } %>

<h2>Items</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Purchased</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= link_to item.url, item.url %></td>
        <td><%= humanize_boolean(item.purchased) %></td>
        <td><%= link_to 'Edit Item', edit_list_item_path(@list, item) %></td>
        <td><%= link_to 'Destroy Item', [@list, item], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_list_item_path(@list) %>
